#texto-fonte-root{
    font-size: 3rem;
}

#texto-paddings-verticais{
    padding: 6rem 0rem;
}

#altura-porcentagem-comprimento{
    height: 20vh;
}

#comprimento-metade-altura{
    width: 50vw;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
 font-size: 70%;
}

#comprimento-pai{
    width: 10%;
}

#altura-pai{
    height: 10%;
}